<h1><%= @task.title %></h1>
<button type="button" class="btn btn-light"><%= link_to "Edit this task", edit_task_path %></button>
<p> <%= @task.details %></p>
<input type="checkbox" name="complete-status" value="task" disabled>
<label for="complete-status">
  <% if @task.completed == true  %>
    <%= "This task has been completed" %>
  <% else %>
    <%= "This task is incomplete." %>
  <% end %>
</label>
<br>
<br>
<%= link_to "Back", tasks_path %>
